services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    env_file:
      - .env
    environment:
      PORT: ${PORT}
      GROQ_API_KEY: ${GROQ_API_KEY}
      OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}
      NOTION_API_KEY: ${NOTION_API_KEY}
      NOTION_PARENT_PAGE_ID: ${NOTION_PARENT_PAGE_ID}
